@keyframes star-wars{
from{
    transform: perspective(200px) 
    rotateX(15deg)
    translateZ(100px)
    translateY(400px);
}
to{
    transform: perspective(150px) 
    rotateX(15deg)
    translateZ(80px)
    translateY(-350px);
}
}
main{
    text-align: center;
    color:rgb(255, 238, 0);
    line-height: 50px;
    animation: star-wars 30s infinite ease-in-out;
}
body{
    background-color: rgb(0,0,0);
}